.hr-div-a{
    width: 85%;
    margin: auto;
    hr{
        height: 2px;
        background-color: #C4C4C4;
        border: 2px;
    }
}
.ajuda-page{
    padding: 50px 0;
    .subtitle{ 
        margin: auto;   
        width: 450px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 700;
    }
    .cards{
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        li:nth-child(2){
            margin: 0 42px;
        }
        .card{
            max-width: 391px;
            article{
                display: flex;
                justify-content: center;
                align-items: center;
                .text{
                    max-width: 287px;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                .number{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 120px;
                    font-weight: 600;
                    line-height: 146px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #D9D6D6;
                    transition: all .3s;
                }
            }
        }
        .card:hover{
            article{
                .number{
                    color: #A0262B;
                }
            }
        }
    }
}
.faq{
    padding: 70px 90px;
    ul{
        .faqli{
            cursor: pointer;
            margin-bottom: 24px;
            padding: 0 40px;
            background: #F9F9F9;
            border: 1px solid #971B23;
            box-sizing: border-box;
            box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.13);
            border-radius: 8px;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            align-items: center;
            .pergunta{
                width: 100%;
                .line{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    width: 100%;
                    padding: 14px 0;
                    display: flex;
                    .img{
                        width: 18px;
                        height: 24px;
                        div{
                            width: 18px;
                            height: 24px;
                            img{
                                width: 100%;
                            }
                        }
                        margin-left: auto;
                    }
                }
                .hidden{
                    padding-bottom: 42px;
                    color: #909090;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }
}
.blank{
    &.banner{
        padding-bottom: 109px;
    }
}
.mini-banner{
    height: 170px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .left, .right{
        width: 50%;
    }
    .left{
        padding-left: 100px;
        h2{
            margin-left: auto;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.01em;
            text-align: left;
        }
    }
    .right{
        display: flex;
        justify-content: center;
        div{
            cursor: pointer;
            width: 299px;
            height: 40px;
            background: #FFEE58;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-family: Montserrat;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color: #A32A31;
            }
        }
    }
}
@media screen and(max-width: 1230px) {
    .ajuda-page{
        .subtitle{
            width: unset;
        }
        .cards{
            .card{
                margin: 0!important;
            }
        }
    }
    .faq{
        padding: 20px;
    }
    .mini-banner{
        height: 100%;
        padding: 40px 0;
        .left, .right{
            width: 100%;
            padding: 20px;
        }
    }
}