.wpcf7-text, .wpcf7-number{
    width: 100%;
}
.wpcf7-form{
    p{
        display: flex;
        flex-wrap: wrap;
        label{
            width: 48%;
            margin-right: 2%;
            padding-top: 16px;
            br{
                display: none;
            }
            .wpcf7-not-valid-tip{
                display: block;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: red;
                padding: 5px 0!important;
                text-transform: capitalize;
            }
            span{
                display: block;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: #000;
                padding: 3px 0!important;
                text-transform: uppercase;
                input, textarea{
                    height: 40px;
                    border-radius: 8px;
                    border: none;
                    padding: 0px 20px; 
                    background: #F5F5F5;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #777777;
                }
            }
        }
        #faturamento, #textarea, #mail, #telefone{
            width: 100%;
        }
        #textarea{
            padding: 0;
            span{
                textarea{
                    padding: 10px 20px; 
                    width: 100%;
                    height: 136px;
                }
            }
        }
        #arquivo, #curriculo, #investidor{
            width: 38%;
        }
        #forarquivo, #curriculo, #investidor{
            div{
                cursor: pointer;
                width: 100%;
                border-radius: 8px;
                padding: 4px 20px; 
                background: #FFEE58;
                align-items: center;
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color: #9C2028;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }
    .load{
        display: flex;
        justify-content: end;
        .wpcf7-submit{
            cursor: pointer;
            width: 30%; 
            height: 40px;
            background-color: #20A846;
            border-radius: 20px;
            border: none;
            font-family: 'Poppins', sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
        }
        .loading{
            padding: 0 50px;
        }
        .wpcf7-spinner{
            display: none;
        }
    }
}
.contato{    
    padding: 70px 20px;
    padding-bottom: 40px;
    .subtitle{
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
    }
    .contato-row{
        display: flex; 
        flex-wrap: wrap;   
        .right{
            width: 60%;
            margin: 34px 0;
            .subtitle-red{
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: left;
                color: #9C2028;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .texto{
                p{
                    padding: 15px 0;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                li{
                    padding: 1px 0;
                }
                span{
                    padding: 5px 0;
                    display: block;
                }
                padding: 0;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: #909090;
            }
        }
        .left{
            width: 40%;
            ul{
                li{
                    cursor: pointer;
                    position: relative;
                    margin: 34px 0;
                    height: 49px;
                    max-width: 384px;
                    border: 1px solid #971B23;
                    border-radius: 8px;
                    box-shadow: 0px 4px 9px 0px #00000021;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #000000;
                    img{
                        display: none;
                    }
                    &.active{
                        background-color: #971B23;
                        color: #FFF;
                        img{
                            display: flex;    
                            position: absolute;
                            left: 99%;
                        }
                    }
                }
                li:hover{
                    background-color: #971B23;
                    box-shadow: 0px 4px 9px 0px #FFF;
                    color: #FFF;
                }
                margin-bottom: 52px;
            }
            .outras{
                margin-top: 34px;
                .lista{
                    tr, li{
                        display: flex;
                        padding: 8px 0;
                        color: #777777;
                        font-size: 16px;
                        font-weight: 600;
                        font-family: 'Montserrat', sans-serif;
                        td{
                            width: 32px;
                        }
                        td+td{
                            width: 100%;
                        }
                    }
                    &.atendimento{
                        .link{
                            font-weight: 600;
                        }
                        tr, li{
                            a{
                                font-family: 'Montserrat', sans-serif;
                                font-size: 22px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 27px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #777777;
                            }
                            img{
                                width: 100%;
                                padding: 5px;
                            }
                        }   
                        tr:hover, li:hover{
                            a{color: #000;}
                        }
                    }
                }
            }
        }
    }
}
.hr-div{
    width: 100%;
    position: relative;
    margin-left: -10%;
    .hr{
        height: 1px;
        background-color: #C4C4C4;
    }
}
@media screen and(max-width:1230px) {

    .contato{
        .contato-row{
            margin-top: 40px;
            .right, .left{
                width: 100%;
            }
            .left{
                display: flex;
                flex-wrap: wrap;
                padding: 20px 0;
                ul{
                    width: 100%;
                    order: 3;
                }
                .hr-div{
                    order: 2;
                    margin: 0;
                }
                .outras{
                    order: 1;
                }
            }
        }
    }
    .wpcf7-form{
        p{
            label{
                width: 100%;
                padding-top: 5px;
            }
            #arquivo, #curriculo, #investidor{
                div{
                    justify-content: center;
                }
                width: 100%;
            }
        }
        .load{
            .wpcf7-submit{
                width: 100%;
            }
        }
    }
}