.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 77px;
    letter-spacing: -0.01em;
    text-align: left;
    text-transform: uppercase;
    padding: 100px 0;
}
.conheca{
    padding: 56px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    .texto{
        width: 50%;
        .subtitle{    
            width: 75%;
            font-family: 'Montserrat', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            .red{
                color: #A0262B;
            }
            margin-bottom: 40px;
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #909090;
            .red{
                color: #A0262B;
                font-weight: 700;
            }
        }
        p+p{
            padding: 10px 0;
        }
    }
    .fachada{
        width: 50%;
        display: flex;
        justify-content: end;
        img{
            width:90%;
            margin-left: auto;
        }
    }
}
.missao{
    padding: 51px 22px!important;
    padding-bottom: 102px!important;
    .card{
        transition: all .3s;
        padding: 22px 0;
        height: 100%;
        border-radius: 50px;
        background: #F9F9F9;
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.11);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .subtitle{
            padding: 0 13px;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
        }
        p{
            padding: 0 13px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #909090;
            max-width: 546px;
        }
        img{padding: 0 13px;}
    }
    .card:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.diferenciais{
    .subtitle{
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
    }
    ul{
        padding: 14px 0;
        li{
            color: #909090;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            padding: 19px 0;
            .red{
                color: #A0262B;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
    
            }
        }
    }
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 79px;
}
@media screen and(max-width:1230px) {
    .al-container{
        width: 100%;
        padding: 0 20px;
    }
    .conheca{
        padding: 110px 0;
        .texto, .fachada, .subtitle{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .missao{
        .card{
            flex-wrap: wrap;
            p{
                padding: 30px 20px;
            }
        }
    }
    .diferenciais, .video{
        padding: 40px 20px;
    }
}