/* Header
========================================================================== */
.home{
    .main-header{
        height: 100vh;
    }
}
.main-header{
    width: 100%;
    z-index: 999999;
    background-position: top;     
    background-size: cover!important;
    .al-menu{     
        border-bottom: 2px #FFF solid;
        .al-container{
            height: 125px;
            .logo{
                img{
                    height: 110px;
                    width: 110px;
                }
            }
            .sub-menu{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                height: 90px;
                .main-menu{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    >ul{
                        height: 90px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        column-gap: 30px;
                        li{
                            border-bottom: 4px solid transparent;
                            height: 90px;
                            display: flex;
                            align-items: center;
                            padding: 0px 10px;
                            transition: all .3 ;
                            a{
                                color: #FFF;
                                font-size: 18px;
                                font-weight: 500;
                                font-family: "Open Sans", sans-serif;
                            }
                            &:last-child{
                                a{
                                    transition: all .3s;
                                    color: #FFF;
                                    font-size: 18px;
                                    font-weight: 500;
                                    font-family: "Open Sans", sans-serif;
                                }
                                div{
                                    transition: all .3s;
                                    border: 1px #FFF solid;
                                    border-radius: 20px;
                                    padding: 4px 22px;
                                    
                                }
                                &:hover{
                                    a{
                                        color: #A32A31;
                                    }
                                    div{
                                        background-color: #FFF;
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}
body{
    background-color: #0000;
}
.title-back{
    background-size: 0;
}
.display{
    display: none;
}
@media screen and(max-width: 1230px) {
    .main-header{
        .al-menu{
            display: none;
        }
    }
    .title-back{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
}
@media screen and(max-height: 768px) {
    .capa .subtitle {
        font-size: 18px;
        opacity: .79;
        text-transform: uppercase;
    }
    .capa .legend {
        margin-top: 20px;
        font-size: 46px;
        line-height: 120%;
    }
}