/* Home
========================================================================== */
.banner-grande{
    min-height: 800px;
}
.capa{
    width: 60%;
    padding: 110px 0;
    margin-bottom: 106px;
    .subtitle{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        opacity: 0.79;
        text-transform: uppercase;
    }
    .legend{
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 120%;
    }
    .cont-btn{
        width: 300px;
        height: 60px;
        a{
            transition: all .3s;
            cursor: pointer;
            .btn-yellow{
                transition: all .3s;
                font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                font-weight: 700;
                color: #A32A31;
                background-color: #FFEE58;
                border: none;
                border-radius: 20px;    
                width: 300px;
                height: 60px;
                margin-top: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        a:hover{
            .btn-yellow{
                border: 1px #FFEE58 solid;
                color: #FFEE58;
                background-color: #A32A31;
            }
        }
    }
}
.help{
    background: #FFF;
    padding: 120px 0 140px 0;
}
.ajuda{
    .subtitle{ 
        margin: auto;   
        width: 450px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 700;
        opacity: 0.79;
    }
    .cards{
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        li:nth-child(2){
            margin: 0 42px;
        }
        .card{
            max-width: 391px;
            article{
                display: flex;
                justify-content: center;
                align-items: center;
                .text{
                    max-width: 287px;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                .number{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 120px;
                    font-weight: 600;
                    line-height: 146px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #D9D6D6;
                    transition: all .3s;
                }
            }
        }
        .card:hover{
            article{
                .number{
                    color: #A0262B;
                }
            }
        }
    }
}
.info{
    background: #FFF;
    display: flex;    
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    .img{
        display: flex;
    }
    .texto{
        padding-left: 32px;
        width: 36%;
        .subtitle{    
            width: 75%;
            font-family: 'Montserrat', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: left;
            .red{
                color: #A0262B;
            }
        }
        .text{
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            padding: 32px 0;
            max-width: 592px;
            color: #909090;
        }
        .cont-btn{
            width: 215px;
            height: 40px;
            a{
                cursor: pointer;
                .btn-yellow{
                    transition: all .3s;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    color: #A32A31;
                    background-color: #FFEE58;
                    border: none;
                    border-radius: 20px;    
                    width: 215px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        a:hover{
            .btn-yellow{
                color: #FFEE58;
                background-color: #A32A31;
            }
        }
    }
}
.assoc{
    background: #FFF;
}
.associados{
    padding-top: 182px;
    padding-bottom: 80px;
    .lista{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        li{
            padding: 20px 15px;
        }
    }
}
@media screen and(max-width:1230px) {
    .capa{
        font-size: 44px;
        width: 100%;
        padding: 110px 20px;
        .legend{
            font-size: 44px;
        }
    }
    .ajuda{
        .subtitle{
            width: unset;
        }
        .cards{
            padding: 0 20px;
            li:nth-child(2){
                margin: 0px;
            }
        } 
    }
    .info{
        .texto{
            width: 100%;
            padding: 0 20px;
        }
    }
    .associados{
        padding: 100px 20px;
        .lista{
            li{
                width: 100%;
                padding: 20px 0;
                display: flex;
                justify-content: center;
            }
        }
    }
}