/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/

/* Global variables
========================================================================== */
// Sizes
$sm: 480px;
$tb: 768px;
$dt: 1024px;

// Colors
$primary-color: #000;
$secondary-color: #fff;
$tertiary-color: #ccc;

$darken-primary-color: darken($primary-color, 16);
$darken-secondary-color: darken($secondary-color, 10);
$darken-tertiary-color: darken($tertiary-color, 10);

$white: #fff;
$black: #000;

$danger: #dc3545;
$success: #28a745;

/* Fonts
========================================================================== */
@import 'fonts';

/* Mixins
========================================================================== */
@import 'mixins';

/* Resets
========================================================================== */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	&:not(.fas, .fab, .fa) {
		font-size: 1rem;
	}
}

a {
	transition: all linear 0.2s;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

input,
button {
	outline: none;
}

section {
	position: relative;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

/* Global classes
========================================================================== */
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.al-container {
	width: 1190px;
}
.half-container {
	display: block;
	max-width: 100%;
	width: calc(1230px / 1.54);
	margin-left: auto;
	padding-right: 30px;
	position: relative;
}
.white{
    color: white;
}
.blank{
    background-color: #FFF;
}
.black{
    color: black;
}
.al-small-container {
	width: 1042px;
}

.al-extra-small-container {
	position: relative;
	width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
	max-width: 100%;
	margin: 0 auto;
}

div.left-right-content {
	display: table;
	width: 100%;
	div.left,
	div.right {
		display: table-cell;
		vertical-align: middle;
		@include smartphone {
			display: table-row;
		}
	}
}

.left,
.right {
	display: inline-block;
	width: 49.5%;
	position: relative;
	vertical-align: top;
	@include smartphone {
		width: 100%;
		padding: 20px;
	}
}

/* Html / Body
========================================================================== */
html {
	height: 100%;
	overflow: auto;
}

body {
	background: #fff;
	height: 100%;
	line-height: 1.6;
	font: normal normal 16px Arial, sans-serif;
}

/* Custom scrollbar
========================================================================== */
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: darken($white, 10);
}

body::-webkit-scrollbar-thumb {
	background: $primary-color;
	&:hover {
		background: $darken-primary-color;
	}
}

/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
	z-index: 99 !important;
}

.mobmenul-container {
	top: 0 !important;
	right: 2% !important;
	z-index: 0 !important;
	background: $primary-color;
	padding: 10px 10px 0px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mob-icon-menu,
.mob-menu-icon {
	color: #fff !important;
}

[class^='mob-icon-']:before,
[class*='mob-icon-']:before {
	font-size: 28px !important;
	width: unset !important;
}

/* Contact Form 7
========================================================================== */
.form-container {
	.ajax-loader {
		display: none !important;
	}
	span[role='alert'] {
		display: none !important;
	}
	.wpcf7-not-valid {
		border: 1px solid $danger !important;
		@include placeholder {
			color: $danger !important;
		}
	}
	div[role='alert'] {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		text-align: center;
		background: #f1f1f1;
		width: 100%;
		max-width: 502px;
		margin: 20px 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		&.wpcf7-validation-errors {
			border-color: $danger;
			color: $danger;
		}
		&.wpcf7-mail-sent-ok {
			border-color: $success;
			color: $success;
		}
		@include smartphone {
			position: initial;
			max-width: 100%;
		}
	}
}

/* Pages
========================================================================== */
@import 'header';
@import 'footer';
@import 'home';
@import 'header';
@import 'empresa';
@import 'como-funciona';
@import 'investidor';
@import 'contato';
@import 'politica';