.investidor{    
    padding: 70px 0;
    .subtitle{ 
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        .red{
            color: #981C24;
            text-transform: uppercase;
        }
    }
    .text{
        padding: 43px 0;
        line-height: 1.6em;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #909090;
    }
}
.trofeu{
    padding: 0 22px;
    padding-bottom: 88px;
    .card-trofeu{
        transition: all .3s;
        padding: 22px 0;
        height: 100%;
        border-radius: 50px;
        background: #F9F9F9;
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.11);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .sem-criatividade{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 63%;
            height: 57px;
            p{
                position: absolute;
                transition: all .3s;
                padding: 0 13px;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #000;
                max-width: 750px;
            }
            .text-white{
                transition: all .3s;
                color: #FFF;
                opacity: 0;
            }
        }
        img{
            transition: all .3s;
            padding: 0 13px;
        }
    }
    .card-trofeu:hover{
        background-color: #E0414C;
        img{
            transition: all .3s;
            filter: brightness(10);
        }
        .text-normal{
            opacity: 0;
        }
        .text-white{
            opacity: 1;
        }
    }
}
.investimentos{
    padding-bottom: 88px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
    ul{
        padding: 10px 0;
        li{
            padding: 10px 0;
            margin-left: 20px;
            .texto{
                color: #909090;
            }
            .titulo{
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: #909090;
            }
        }
    }
}
.mini-banner-investidor{    
    width: 68%;
    background-size: 102%;
    margin: auto;
    border-radius: 8px;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 109px;
    .left{
        width: 62%;
        padding-left: 100px;
        h2{
            margin-left: auto;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.01em;
            text-align: left;
        }
    }
    .right{
        width: 38%; 
        padding: 0 50px;
        div{
            transition: all .3s;
            cursor: pointer;
            width: 299px;
            height: 40px;
            background: #FFEE58;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px #FFEE58 solid;
            a{
                transition: all .3s;
                font-family: Montserrat;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color: #A32A31;
            }
        }
        div:hover{
            border: 1px #FFEE58 solid;
            background-color: #A32A31;
            a{color: #FFEE58;}
        }
    }
}
@media screen and(max-width: 1230px){
    .title{
        font-size: 44px;
    }
    .mini-banner-investidor{
        height: 100%;
        padding: 40px 0;
        width: 100%;
        background-size: cover;
        .left, .right{
            width: 100%;
            padding: 10px 20px;
        }
    }
    .trofeu{
        .card-trofeu{
            padding: 80px 0;
            .sem-criatividade{
                width: 100%;
            }
        }
    }
}