.container{
    background-color: #FFF;
    margin-top: -75vh;
    margin: auto;
    padding: 180px 0;
    h1{
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
        color: #000;
        padding: 20px 0;
        width: 80%;
        margin: auto;
    }
    h2{
        font-family: "Montserrat", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        color: #000;
        padding: 20px 0;
        width: 80%;
        margin: auto;
    }
    p{
        padding: 5px 0;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #909090;  
        width: 80%;
        margin: auto;      
    }
}